:root {
    --dark-blue: 222222;
    --pink: #F1E4E6;
    --dark-pink: #F16D7F
    --brown #474040
}
.body {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.container {
    width: 1138px;
    margin: 0 auto;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0)
}


.header {
   background-color: var(--dark-blue);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header__button {
    background-color: transparent;
    border: none;
    margin: 0 34px 0 0;
}

.header__logo {
    margin: 0 41px 0 0;
}


.header__persen-link {
    margin: 0 34px 0 0;
}

.header__navigation {
    display: none;
}
.brand {
    display: flex;
    background-color: var(--pink);
    margin: 0 0 65px;
}

.brand__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__title-wrapper {
    padding: 0 0 0 91px;
    background-color: var(--pink);
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.brand__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle-pink {
    color: var(--dark-pink);
}

.offers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offers__subtitle-pink {
    color: var(--dark-pink);
}

.offers__item {
    color: white;
    width: 360px;
    min-height: 260px;
    background-color: var(--brown);
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.offers__item--woman {
    background-image: url(../lesson-1/img/women.jpg);
}

.offers__item--man {
    background-image: url(../lesson-1/img/item--man.jpg);
}

.offers__item--kids {
    background-image: url(../lesson-1/img/item--kids.jpg);
}

.offers__item--accesories {
    background-image: url(../lesson-1/img/item--accesories.jpg);
    width: 100%;
    margin: 0;
}

.products__heading {
    color: #222222;   
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 96px auto 6px;
}

.products__text {
    text-align: center;
    color: #9F9F9F;   
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;  
    margin-bottom: 48px; 
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product__case {
    width: 360px;
    background: #F8F8F8;
}

.products__heading--item {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin: 25px auto 13px 18px;
}

.product__text--text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #5D5D5D;
    margin: 12px auto 18px 16px;
}

.product__price {
   color: #F16D7F;
   font-size: 16px;
   font-weight: 400;
   line-height: 19px;
   margin: 18px auto 20px 18px;  
}

.products__button {
    border: 1px solid #FF6A6A;
    padding: 14px 38px 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 63px 480px 109px auto;
    background: none;
}

.browse__button {
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.advantages {
    background: #222224;
    margin-top: 95px;
    margin-bottom: 0;
}

.advantages__list {
    display: flex;
    justify-content: space-between;
    margin: 103px 230px 104px 230px;
}

.advantages__list-case {
    max-width: 340px;
    margin-top: 103px;
}

.advantages__logo {
    padding-left: 45%;
}

.advantages__heading {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    text-align: center;
}

.advantages__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin: 16px auto 104px;
}

.subscription {
    background-image: url(../lesson-1/img/photo\ subscribe.jpg);
    width: 100%;
    min-height: 448px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
}

.subscription__image-text {
    max-width: 359px;
    margin: 86px auto 211px 228px;
}

.subscription__image {
    padding-left: 30%;
}

.subscription__text {
    margin-top: 30px;
}

.subscription__subscribe-button {
    max-width: 550px;
    margin: 150px 230px auto;
}

.subscription__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: #222224;
    text-transform: uppercase;
}

.subscription__heading-second {
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}


.subscription__email-button {
    display: flex;
}

.subscription__email {
    background: #E1E1E1;
    padding: 7px 64px 6px 22px;
}

.subscription__button {
    background: #F16D7F;
}

.allrights {
    background-color: #222224;
    min-height: 79px;
    margin-top: -50px;
    display: flex;
    margin-bottom: 0%;
}

.allrights__text {
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin: 30px auto 30px 200px;
}

.allrights__social {
    margin: 24px 300px 23px;
}

.allrights__social-list {
     margin: 00 10px 40px;
     position: relative;
}

.allrights__social-list:before {
     content: '';
     width: 10px;
     height: 10px;
     background: #000;
    
}


.registration {
    background-color: #F8F3F4;
    min-height: 148px;
}

.registration__heading {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    margin: auto auto 60px 230px;
    padding-top: 59px;
}

.information__gaps {
    display: flex;
    justify-content: space-between;
    background: #E5E5E5
}

.information__name {
    background: #E5E5E5
}

.information__name-putting {
     flex-direction: column;
}